
.container {
    margin-top: 50px;
    
    
    }
    
    .input-value{
    text-align: center;
        border: solid gray 1px;
        width: 500px;
        height: 40px;
        
    }
    
    button{
    
        text-align: right;
    }
    input{
        width: 500px;
        height: 40px;
    
    }